*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:cursive;
    background-color: rgb(0, 30, 54);
    color: white
}
.container{
    margin: auto;
    position:relative;
    padding: 6rem;
}
.container2{
    margin: auto;
    position:relative;
    padding: 8rem;
    display: none;
}
.container3{
    margin: auto;
    position:relative;
    padding: 8rem;
    display: none;
}
.container4{
    margin: auto;
    position:relative;
    padding: 8rem;
    display: none;
}
.front{
    text-align: center;
}
.click{
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin: 2rem auto;
    padding: 2rem;
    font-size: 2rem;
    border: none;
    border-radius: 1rem;
    color:rgb(0, 30, 54);
    font-weight: 100;
}
.click:hover{
    color: white;
    background-color: black;
    cursor: pointer;
}
#busytxt{
    background-color: aliceblue;
    color: rgb(0, 30, 54);
}
#busytxt:hover{
    color: white;
    background-color: black;
    cursor: pointer;
}
#naughty{
    display: none;
    text-align: center;
}